@page
@model Ganaderia.App.Presentacion.Pages.RegisterMigranteModel
@{
    Layout = "~/Pages/Shared/_layoutLogin.cshtml";
    ViewData["Title"] = "Entidad";
}
<form method="post" autocomplete="off">
    <p>Nombres <input type="text" name="nombres" required> </p>
    <p>Apellidos <input type="text" name="apellidos" required> </p>
    <p>Tipo de documento <input type="text" name="tdocumento" required> </p>
    <p>Numero de documento <input type="text" name="documento" required> </p>
    <p>Pais de origen <input type="text" name="pais" required> </p>
    <p>Fecha de nacimiento <input type="date" name="nacimiento" required> </p>
    <p>Email <input type="email" name="email"> </p>
    <p>Telefono <input type="text" name="telefono"> </p>
    <p>Dirección actual <input type="text" name="direccion"> </p>
    <p>Ciudad <input type="text" name="ciudad"> </p>
    <p>Situacion laboral <input type="text" name="slaboral"> </p>
    <p>Usuario <input type="text" name="usuario"> </p>
    <p>Contrasena <input type="password" name="clave"> </p>
    <p><input type="submit" value="guardar" asp-page-handler="Register"></p>
</form>
<h1>Listado de migrantes</h1>

<div class="table-responsive">
    

<table class="table" style="na">
  <tr class="table-success">
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Tipo de documento</th>
    <th>No. Documento</th>
    <th>Pais de origen</th>
    <th>Fecha de nacimiento</th>
    <th>Correo electrónico</th>
    <th>Telefono</th>
    <th>Direccion actual</th>
    <th>Ciudad actual</th>
    <th>Situacion laboral</th>
    <th>Usuario</th>
  </tr>
  @foreach (var migrante in Model.migrantes)
  {
    
    <tr>
      <td>@migrante.Nombre</td>
      <td>@migrante.Apellidos</td>
      <td>@migrante.Tipo_documento</td>
      <td>@migrante.No_Documento</td>
      <td>@migrante.Pais_origen</td>
      <td>@migrante.Fecha_nacimiento</td>
      <td>@migrante.Email</td>
      <td>@migrante.Telefono</td>
      <td>@migrante.Direccion_actual</td>
      <td>@migrante.Ciudad</td>
      <td>@migrante.Situacion_laboral</td>
      <td>@migrante.Usuario</td>
      

    </tr>
    
  }

</table>
</div>