@page
@model Ganaderia.App.Presentacion.Pages.RegisterMigranteModel
@{
    Layout = "~/Pages/Shared/_layoutLogin.cshtml";
    ViewData["Title"] = "Entidad";
}
<form method="post">
    <p>Nombres <input type="text" name="nombres"> </p>
    <p>Apellidos <input type="text" name="apellidos"> </p>
    <p>Tipo de documento <input type="text" name="tdocumento"> </p>
    <p>Numero de documento <input type="text" name="documento"> </p>
    <p>Pais de origen <input type="text" name="pais"> </p>
    <p>Fecha de nacimiento <input type="date" name="nacimiento"> </p>
    <p>Email <input type="email" name="email"> </p>
    <p>Telefono <input type="text" name="telefono"> </p>
    <p>Dirección actual <input type="text" name="direccion"> </p>
    <p>Ciudad <input type="text" name="ciudad"> </p>
    <p>Situacion laboral <input type="text" name="slaboral"> </p>
    <p>Usuario <input type="text" name="usuario"> </p>
    <p>Contrasena <input type="password" name="clave"> </p>
    <p><input type="submit" value="guardar" asp-page-handler="Register"></p>
</form>
<h1>Listado de migrantes</h1>

<div class="table-responsive">
    

<table class="table" style="na">
  <tr class="table-success">
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Tipo de documento</th>
    <th>No. Documento</th>
    <th>Pais de origen</th>
    <th>Fecha de nacimiento</th>
    <th>Correo electrónico</th>
    <th>Telefono</th>
    <th>Direccion actual</th>
    <th>Ciudad actual</th>
    <th>Situacion laboral</th>
    <th>Usuario</th>
    <th>Accion</th>
  </tr>
  @foreach (var migrante in Model.migrantes)
  {
    
    <tr>
      <td>@migrante.Nombre</td>
      <td>@migrante.Apellidos</td>
      <td>@migrante.Tipo_documento</td>
      <td>@migrante.No_Documento</td>
      <td>@migrante.Pais_origen</td>
      <td>@migrante.Fecha_nacimiento</td>
      <td>@migrante.Email</td>
      <td>@migrante.Telefono</td>
      <td>@migrante.Direccion_actual</td>
      <td>@migrante.Ciudad</td>
      <td>@migrante.Situacion_laboral</td>
      <td>@migrante.Usuario</td>
      <td>
        <form method="post">
        <button value="@migrante.Id" type="submit" name="idMigrante" asp-page-handler="Delete" title="Eliminar Ganadero" class="btn btn-danger btn-sm">
          <svg xmlns="http://www.w3.org/2000/svg"
          width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path
            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
            <path fill-rule="evenodd"
            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
          </svg></button></form>
      </td>

    </tr>
    
  }

</table>
</div>